{% extends 'users/base.html' %}
{% load static %}
{% block home %}
    <!-- main -->
    <section class="section main_section pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-sm-12 mt-5 pt-5">
                    <h1 class="main_head mx-auto mt-5 me-auto pt-5">
                        Find <span class="text-gm">Like-Minded</span> Roommates
                    </h1>
                    <h2>
                        & <span>PGs</span> for&nbsp;
                        <span class="typewrite" data-period="1000" data-type='[ "Students...", "Professionals..." ]'>
                            <span class="wrap"></span>
                        </span>
                    </h2>
                    <h5 class="txt_spc mt-5">Share you room with right roommates</h5>
                    <a href="{% url 'properties' %}" class="btn main_btn w-50 fw-bold">
                        Find my PG <i class="fa-solid fa-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-6 col-md-12 col-sm-12 main_img mt-5 pt-5">
                    <img src="{% static './img/pg.png' %}" class="img-fluid" alt="main" />
                </div>
            </div>
        </div>
    </section>
    <!-- End of main -->
    <!--check Form Availability-->
    <!-- body -->
    {% if prop %}
    <section class="section prop_section pt-3">
        <div class="container-fluid availability-form">
            <div class="row mt-5">
                <span class="heading">
                    <h2 class="text-center fw-500 h-font">
                        <i class="fa-solid fa-house-circle-check"></i> Find Your Desired PG
                    </h2>
                </span>
                <div class="col-lg-3 filter_panel bg-white py-3 px-5 rounded">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row align-items-end">
                            <div class="col-lg-12 mb-3">
                                <label class="form-label mt-2" style="font-weight:500">Gender</label>
                                <select class="form-select shadow-none cursor-pointer" required>
                                    <option selected disabled>-- Select Option --</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="others">Others</option>
                                </select>
                            </div>
                            <div class="col-lg-12 mb-3">
                                <label class="form-label mt-2" style="font-weight:500">Location</label>
                                <select class="form-select shadow-none cursor-pointer" required>
                                    <option selected disabled>-- Open to select --</option>
                                    <option value="1">New-town</option>
                                    <option value="2">Salt-Lake</option>
                                </select>
                            </div>
                            <label for="price_range" class="form-label mt-2"><b>Price Range</b></label>
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault1" checked>
                                <label class="form-check-label" for="flexRadioDefault1">
                                    <i class="fa-solid fa-indian-rupee-sign"></i> 5,000
                                    to
                                    <i class="fa-solid fa-indian-rupee-sign"></i> 10,000
                                </label>
                            </div>
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault2">
                                <label class="form-check-label" for="flexRadioDefault2">
                                    <i class="fa-solid fa-indian-rupee-sign"></i> 10,001
                                    to
                                    <i class="fa-solid fa-indian-rupee-sign"></i> 15,000
                                </label>
                            </div>
                            <div class="form-check mx-3">
                                <input class="form-check-input" type="radio" name="flexRadioDefault"
                                    id="flexRadioDefault3">
                                <label class="form-check-label" for="flexRadioDefault3">
                                    <i class="fa-solid fa-indian-rupee-sign"></i> 15,001
                                    to
                                    <i class="fa-solid fa-indian-rupee-sign"></i> 20,000
                                </label>
                            </div>
                            <div class="col-lg-12 d-grid gap-2 mt-3">
                                <button type="submit" class="btn mybtn btn-sm"><i
                                        class="fa-brands fa-sistrix"></i> Filter Result</button>
                            </div>
                        </div>
                    </form>
                </div>

                <!--Our Rooms-->
                <div class="col-lg-9">
                    <div class="row">                    
                    {% for p in prop %}
                        <div class="col-lg-4 col-md-6 mt-5">
                            <div class="card custom_card shadow" onclick="window.location='properties/{{ p.prop_slug }}'">
                                <img src="{{p.prop_img.url}}" class="card-img-top" alt="p.prop_img" />
                                <div class="card-body">
                                    <h5 class="card-title theme_color">{{ p.prop_name|title|truncatechars:20 }}</h5>
                                    <h6 class="fw-normal text-primary-emphasis"><i class="fa-solid fa-location-dot"></i> {{p.prop_location|title}}</h6>
                                    <p class="text-danger-emphasis fw-medium">
                                        <i class="fa-solid fa-indian-rupee-sign"></i> {{ p.prop_price }} / month
                                    </p>
                                    <p>
                                        {% for fac in p.facList %}
                                            <span class="badge text-bg-success badge-sm fw-normal">{{fac|title}}</span>
                                        {% endfor %}
                                        <br/>
                                        {% for pg in p.propGen %}
                                            <span class="badge text-bg-dark badge-sm fw-normal">{{pg|upper}}</span>
                                        {% endfor %}
                                    </p>
                                    <p class="card-text card_details">
                                        {{p.prop_details|safe|truncatechars:100}}
                                    </p>
                                    {% comment %} <a href="properties/{{ p.prop_slug }}" class="btn mybtn btn-sm w-100">
                                        More Details <i class="fa-solid fa-arrow-right-long"></i>
                                        </a> {% endcomment %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <br/>
            <div class="col-lg-12 text-center mt-5 pb-5 ">
                <a href="{% url 'properties' %}">
                    <button class="btn mybtn w-20" type="submit"> Show more properties (PGs)
                        <i class="fa-solid fa-arrow-right-long"></i></button>
                </a>
            </div>
        </div>
    </section>
    {% else %}
    <section class="section prop_section pt-3">
        <h5 class="text-center fw-500">Oops!! No Property to Show</h5>
    </section>
    {% endif %}

{% endblock home %}