{% extends 'users/base.html' %}
{% load static %}
{% block properties %}
<!-- breadcrumb -->
    <div class="container-fluid mt-5 mb-0 bg-white p-1 rounded breadcrumb_area">
        <h1 class="breadcrumb_head">Properties</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Properties</li>
            </ol>
          </nav>
    </div>
    
    <!-- body -->
    {% if prop %}
    <section class="section prop_section pt-0">
        <div class="container availability-form">
            <div class="row pt-5 border-0">
                <span class="heading">
                    <h3 class="heading text-center fw-400 h-font">
                        <span>Find Your Desired PG</span>
                    </h3>
                </span>
                <div class="col-lg-10 filter_panel bg-white py-3 mx-auto px-5 rounded">
                    <div class="col-lg-12 mt-2">
                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                          {{ message|safe }}
                          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <form method="post" action="#filtered-search-properties">
                        {% csrf_token %}
                        <div class="row align-items-end">
                            <div class="col-lg-3 mb-3">
                                <label class="form-label mt-2 fw-medium">Gender</label>
                                <select class="form-select shadow-none cursor-pointer" name="gender">
                                    <option selected disabled>-- Select Option --</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                </select>
                            </div>
                            <div class="col-lg-3 mb-3">
                                <label class="form-label mt-2 fw-medium">Location</label>
                                <select class="form-select shadow-none cursor-pointer" name="location">
                                    <option selected disabled>-- Open to select --</option>
                                    {% for loc in location %}
                                    <option value="{{loc}}">{{loc|title}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-lg-3 mb-2">
                                <label class="form-label fw-medium mt-2">Price Range</label>
                                <div class="slidecontainer mb-0 pb-0">
                                    <input type="range" min="{{min_price}}" max="{{max_price}}" step="100" name="price" value="price" class="slider" id="myRange" />
                                    <label class="fw-medium">Upto: <span id="demo" class="fw-normal"></span></label>
                                </div>
                            </div>
                            <div class="col-lg-3 d-grid gap-2 mb-0">
                                <button type="submit" class="btn mybtn btn-sm">
                                    <i class="fa-brands fa-sistrix fa-lg"></i>&nbsp;&nbsp; Filter Result
                                </button>
                                <a class="w-100 text-danger text-center fw-medium link-danger link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" href="{% url 'properties' %}">Reset filter</a>
                            </div>
                        </div>
                    </form>
                </div>
                <!--Our PG(s)-->
                <div class="col-lg-12 pt-3" id="filtered-search-properties">
                    <div class="row">                    
                    {% for p in prop %}
                        <div class="col-lg-3 col-md-6 mt-5">
                            <div class="card custom_card shadow" onclick="window.location='{{ p.prop_slug }}'">
                                <img src="{{p.prop_img.url}}" class="card-img-top" alt="{{p.prop_img}}" />
                                <div class="card-body">
                                    <h5 class="card-title theme_color">{{ p.prop_name|title|truncatechars:20 }}</h5>
                                    <h6 class="fw-normal text-primary-emphasis"><i class="fa-solid fa-location-dot"></i> {{p.prop_location|title}}</h6>
                                    <p class="text-danger-emphasis fw-medium">
                                        <i class="fa-solid fa-indian-rupee-sign"></i> {{ p.prop_price }} / month
                                    </p>
                                    <p>
                                        {% for fac in p.facList %}
                                            <span class="badge text-bg-success badge-sm fw-normal">{{fac|title}}</span>
                                        {% endfor %}
                                        <br/>
                                        {% for pg in p.propGen %}
                                            <span class="badge text-bg-dark badge-sm fw-normal">{{pg|upper}}</span>
                                        {% endfor %}
                                    </p>
                                    <p class="card-text card_details">
                                        {{p.prop_details|safe|truncatechars:100}}
                                    </p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>
            <br/>
            
            {% comment %} Top Rated Properties {% endcomment %}
            {% if ratedProps %}
            <div class="bg-light bg-gradient row mt-3 pt-5 pb-5 border-top border-3 border-tertiary">
                <span class="heading">
                    <h3 class="heading text-center fw-400 h-font">
                        <span>Top Rated Properties</span>
                    </h3>
                </span>
                <div id="owl-demo" class="owl-carousel owl-theme mt-5 mb-5">
                    {% for p in ratedProps %}
                    <div class="item">
                        <div class="card custom_card shadow" onclick="window.location='{{ p.prop_slug }}'">
                            <img src="{{p.prop_img.url}}" class="card-img-top" alt="{{p.prop_img}}" />
                            <div class="card-body">
                                <h5 class="card-title theme_color">{{ p.prop_name|title|truncatechars:20 }}</h5>
                                <h6 class="fw-normal text-primary-emphasis"><i class="fa-solid fa-location-dot"></i> {{p.prop_location|title}}</h6>
                                <p class="text-danger-emphasis fw-medium">
                                    <i class="fa-solid fa-indian-rupee-sign"></i> {{ p.prop_price }} / month
                                </p>
                                <p>
                                    {% for fac in p.facList %}
                                        <span class="badge text-bg-success badge-sm fw-normal">{{fac|title}}</span>
                                    {% endfor %}
                                    <br/>
                                    {% for pg in p.propGen %}
                                        <span class="badge text-bg-dark badge-sm fw-normal">{{pg|upper}}</span>
                                    {% endfor %}
                                </p>
                                <p class="card-text card_details">
                                    {{p.prop_details|safe|truncatechars:100}}
                                </p>
                            </div>
                        </div>
                    </div>                    
                    {% endfor %}
                </div>
            </div>
            {% endif %}
            {% comment %} End of Top Rated Properties {% endcomment %}
        </div>
    </section>
    {% else %}
    <section class="section prop_section pt-3">
        <h5 class="text-center fw-500">Oops!! No Property to Show</h5>
    </section>
    {% endif %}
    <script>
    // Price range Slider
    var slider = document.getElementById("myRange");
    var output = document.getElementById("demo");
    output.innerHTML = slider.value;
    
    slider.oninput = function () {
      output.innerHTML = this.value;
    };
    // Price range Slider
    </script>
{% endblock properties %}