<!DOCTYPE html>
<html lang="en">
<head>
{% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="PGFinder" />
    <title>PGFinder | Property Holder | {{nav}}</title>
    <link rel="icon" href="{% static './img/favicon.png' %}" type="image/icon" />
    <!-- CSS -->
    <link rel="stylesheet" href="{% static './css/bootstrap.min.css' %}" />
    <link rel="stylesheet" href="{% static './css/datatable.css' %}" />
    <link rel="stylesheet" href="{% static './css/style.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <script src="https://cdn.tiny.cloud/1//tinymce/5/tinymce.min.js"></script>

</head>

<body>
    <div class="main">

        <div class="nav_container container-fluid">
            <div class="row">
                <div class="col-lg-6 col-md-6">
                    <a class="logo-area" href="{% url "enquiry" %}">
                        <img src="{% static './img/logo.png' %}" class="logo" alt="logo" />
                    </a>
                </div>
                <div class="col-lg-6 col-md-6">
                    <ul class="nav">
                        <li class="nav-item" role="group">
                            <a type="button" class="btn mybtn btn-sm mt-1" href="{% url "home" %}">
                                <i class="fa-solid fa-arrow-left-long"></i> Go to main site
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link fw-medium dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <i class="fa-regular fa-user"></i> 
                                {% if user.is_authenticated %}
                                    {{ request.user.get_full_name|title }}
                                {% endif %}
                            </a>

                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{% url 'profile' %}">
                                        <i class="fa-solid fa-user-pen"></i> Edit Profile
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="{% url "logout" %}">
                                        <i class="fa-solid fa-arrow-right-from-bracket"></i> Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        
        <div class="container-fluid card mycard">
            <div class="row">
                <div class="col-lg-2 col-md-2 sidebar">
                    <ul class="sidenav">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "enquiry" %}"><i class="fa-solid fa-envelope-open-text"></i> Enquiries <i class="fa-solid fa-chevron-right space_end"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url "ownProp" %}"><i class="fa-solid fa-hotel"></i> Manage Properties <i class="fa-solid fa-chevron-right space_end"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-10 col-md-10 main_content">
                    {% block index %}{% endblock index %}
                    {% block ownerprofile %}{% endblock ownerprofile %}
                    {% block ownerProperties %}{% endblock ownerProperties %}
                    {% block ownPropDetail %}{% endblock ownPropDetail %}
                    {% block addprop %}{% endblock addprop %}
                    {% block updateprop %}{% endblock updateprop %}
                </div>
            </div>
        </div>
    </div>

    <!-- Footer -->
    <footer class="text-center">
        <!-- Copyright -->
        <div class="text-center p-2 footer-txt">
            &copy; <b>{% now "Y" %}</b> Made by <b>G7</b> @TINT | Property Holder
            {% comment %} <a class="text-reset fw-bold" href=""></a> {% endcomment %}
        </div>
        <!-- Copyright -->
    </footer>
    <!-- End Footer -->

    <!-- JavaScript -->
    <script src="{% static './js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static './js/simple-datatables.js' %}"></script>
    <script src="{% static './js/jquery.min.js' %}"></script>
    <script src="{% static './js/main.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/js/all.min.js"></script>
</body>

</html>