{% extends "owners/base.html" %}
{% block updateprop %}
{% if user.is_authenticated %}
<script>
    tinymce.init({
        selector: '#owntextarea',
        inline: false,
        height: 500,
        resize: false,
        hidden_input: false
    });
</script>
<style>
    .tox.tox-silver-sink.tox-tinymce-aux {
        display: none;
    }
</style>
<div class="container card_box_1 mt-3">
    <div class="card-header">
        <h5>Update Property</h5>
    </div>
    <div class="container pt-2">
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
            {{ message|safe }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div class="reg_form ps-4 pe-4">
        {% if user.is_authenticated %}
        <form class="row g-3" method="POST" enctype="multipart/form-data">

            {% csrf_token %}
            <div class="col-md-4">
                <label class="mb-2 fw-medium">Property Name</label>
                <input type="text" name="prop_name" value="{{ propdetail.prop_name|title }}" class="form-control" required />
            </div>
            <div class="col-md-4">
                <label class="mb-2 fw-medium">Property Image</label>
                <input type="file" name="prop_img" value="{{ propdetail.prop_img.url }}" class="form-control" onchange="readURL(this);" />
            </div>
            <div class="col-md-4 pt-2">
                <img id="preview" src="{{ propdetail.prop_img.url }}" alt="Upload Image to check Preview..." height="100px" />
            </div>
            <div class=" col-md-4">
                <label class="mb-2 fw-medium">Property Location</label>
                <input type="text" name="prop_location" value="{{ propdetail.prop_location|title }}" class="form-control" required />
            </div>
            <div class="col-md-4">
                <label class="mb-2 fw-medium">Property Address</label>
                <input type="text" name="prop_address" value="{{  propdetail.prop_address|capfirst }}" class="form-control" required />
            </div>
            <div class="col-md-4">
                <label class="mb-2 fw-medium">Paste Property Google Maps Location Link</label>
                <input type="text" name="prop_gmap" value="{{ propdetail.prop_gmap|safe }}" class="form-control" required />
                <a href="https://www.google.com/maps" class="text-primary" target="_blank">Click me to open Google
                    Maps</a>
            </div>
            <div class="col-md-4">
                <label class="mb-2 fw-medium">Property Facilities</label>
                <input type="text" name="prop_facilities" value="{{ propdetail.prop_facilities|title }}" class="form-control" placeholder="wifi, security" required />
                <label class="text-success">(Enter comma ',' separated values)</label>
            </div>
            <div class="col-md-4">
                <label class="mb-2 fw-medium">Allowed Gender</label>
                <!-- <input type="text" name="prop_gender" value="{{ propdetail.prop_gender|title }}" class="form-control" placeholder="male or female" required /> -->
                <select name="prop_gender" class="form-select shadow-none cursor-pointer">
                    {% if propdetail.prop_gender == 'male' %}
                        <option selected value="male">Male</option>
                        <option value="female">Female</option>
                        {% else %}
                        <option value="male">Male</option>
                        <option selected value="female">Female</option>
                    {% endif %}
                </select>
            </div>
            <div class="col-md-2">
                <label class="mb-2 fw-medium">Property Status</label>
                <select name="status" class="form-select shadow-none cursor-pointer">
                    {% if propdetail.is_active == 'true' %}
                        <option selected value="true">Active</option>
                        <option value="false">Inactive</option>
                        {% else %}
                        <option value="true">Active</option>
                        <option selected value="false">Inactive</option>
                    {% endif %}
                </select>
                <label class="text-success">(*If Occupied, make it Inactive, else keep Active)</label>
            </div>
            <div class="col-md-2">
                <label class="mb-2 fw-medium">Property Price</label>
                <input type="text" name="prop_price" value="{{ propdetail.prop_price }}" class="form-control" required />
            </div>
            <div class="col-md-12">
                <label class="mb-2 fw-medium">Enter Property Details</label>
                <textarea id="owntextarea" name="prop_details" class="form-control">{{ propdetail.prop_details|safe|capfirst }}</textarea>
            </div>
            
            <div class="col-12">
                <button class="btn mybtn" type="submit">Update Property</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
<script>
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();

            reader.onload = function (e) {
                $('#preview')
                    .attr('src', e.target.result);
            };

            reader.readAsDataURL(input.files[0]);
        }
    }
</script>
{% endif %}
{% endblock updateprop %}